body{
	 background: burlywood;
}
.loader-box{
  padding-top:16vh;
  /*text-align: center;*/
}

.labels{
  list-style-type:none;
  margin:0 auto;
  display:inline-block;
  padding: 0px;
  width: 200px;
  height: 30px;
  overflow: hidden;
}

.label{
  float:left;
  height:30px;
  line-height:30px;
  padding:0px;
  color:black;
  font-size:20px;
  width:200px;
  position:relative;
  animation:textUp ease 3s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  -webkit-animation:textUp ease 8s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation:textUp ease 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation:textUp ease 3s;
  -o-animation-iteration-count: infinite;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation:textUp ease 3s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

.loaded.loader-box,.loaded .loader,.loaded .labels{opacity:0;}
.hidden{display:none;}

@keyframes textUp{
  0% {
    top:0px;
    display:relative;
    opacity:0;
  }
  1% {
    top:0px;
    display:relative;
    opacity:1;
  }
  24% {
    top:0px;
    display:relative;
    opacity:1;
  }
  25% {
    top:0px;
    display:none;
    opacity:0;
  }
  26% {
    top:-30px;
    display:relative;
    opacity:0;
  }
  27% {
    top:-30px;
    display:relative;
    opacity:1;
  }
  49% {
    top:-30px;
    display:relative;
    opacity:1;
  }
  50% {
    top:-30px;
    display:none;
    opacity:0;
  }
  51% {
    top:-60px;
    display:relative;
    opacity:0;
  }
  52% {
    top:-60px;
    display:relative;
    opacity:1;
  }
  74% {
    top:-60px;
    display:relative;
    opacity:1;
  }
  75% {
    top:-60px;
    display:none;
    opacity:0;
  }
  76% {
    top:-90px;
    display:relative;
    opacity:0;
  }
  77% {
    top:-90px;
    display:relative;
    opacity:1;
  }
  99% {
    top:-90px;
    display:relative;
    opacity:1;
  }
  100% {
    top:-90px;
    display:none;
    opacity:0;
  }
}

		
.spinner{
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top:3px solid #4a3fdc;
    border-radius: 100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
    animation: spin 2s infinite linear;
}

@keyframes spin {
     0% {
    transform: rotate(90deg);
  }
  10% {
    opacity: 0;
  }
  35% {
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    transform: rotate(0deg);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: rotate(-90deg);
  }
}
 

.loader {
  width: 100px;
  height: 80px;
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  margin: auto;
}
.loader .image {
  margin: auto;
  width: 100px;
  height: 60px;
  font-size: 40px;
  text-align: center;
  transform-origin: bottom center;
  animation: 2s rotate infinite;
  opacity: 0;
  margin-top: -70px;
}
.loader span {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
 
}

@keyframes rotate{
  0% {
    transform: rotate(90deg);
  }
  10% {
    opacity: 0;
  }
  35% {
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    transform: rotate(0deg);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: rotate(-90deg);
  }
}
